.create-post-btn {
  width: 468px;
  margin-bottom: 1rem;
  border-radius: 4rem;
}

.post-icons {
  display: flex;
  justify-content: space-between;
}
.post-icons > li {
 cursor: pointer;
}

.post-icon-text {
  font-weight: 600;
  color: white;
}

.upload-btn-files {
  display: grid;
  place-items: center;
}